@import "tailwindcss";

:root {
  --background: #ceeff7;
  --foreground: #555;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit); /* Use Outfit for sans-serif */
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    -background: #e59191;
    --foreground: #5a5a5a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); /* Apply the default sans font */
  font-family: "Outfit", system-ui;
  font-style: normal;
  font-size: x-large;
  /* font-weight, font-style, font-size can be adjusted per component or globally as needed */
}

.progress {
  color: blue;
}

.box {
  border-radius: 0px;
  border: 4px solid black;
}

/* Apply Lexend Deca font specifically within StorylineStepView */
.storyline-step-view-font {
  font-family: var(--font-lexend-deca);
}

.question-play-word {
  position: absolute;
  top: 39%;
  right: 0px;
}

.user-avatar-height {
  height: 45px;
}

.justify-between {
  justify-content: space-between;
}

.question-word {
  color: white;
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}
.question-word.highlighted-word {
  color: #00f !important;
  
}
.question-word:hover {
    background: black;
    color: black;
}

.slider {
  writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
    height: 64vh;
}
.story-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.story-page-controller {
  display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.speed-component-container {
  width: 10vw;
  max-height: 69vh;
}

.page-component {
  height: 100%;
}
.story-content {
  height: 100%;
}

.page-component-container {
  width: 79vw;
  max-height: 69vh;
}