<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
        </style>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="/static/styles/classroom.css" rel="stylesheet" />
        <script type="importmap">
          {
            "imports": {
              "@material/web/": "https://esm.run/@material/web/"
            }
          }
        </script>
        <script type="module">
          import '@material/web/all.js';
          import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';
      
          document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
        </script>
      </head>
      <body>

        <div class="panel content">
            <!-- Content for the first panel -->
             <div class="card story">
                <md-filled-tonal-button class="button-play">
                  play
                  <svg slot="icon" viewBox="0 0 48 48"><path d="M6 40V8l38 16Zm3-4.65L36.2 24 9 12.5v8.4L21.1 24 9 27Z"/></svg>
                </md-filled-tonal-button>
                {{story}}
             </div>
        </div>

        <div class="panel quiz">
            <!-- Content for the second panel -->
            Panel 2
            <form>

            {% for q in questions %}
            <div class="card question">
                <p class="md-typescale-body-medium">{{ q.question}}</p>
                <div role="radiogroup" aria-labelledby="answers" class="answers">
                    
                    {% for a in q.answers %}
                    <label for="{{ loop.index }}-radio">
                    <div class="answer">
                        <md-radio id="{{ loop.index }}-radio" name="group" value="{{ a }}"
                            aria-label="First"></md-radio>
                        <span class="answer-label">{{ a }}</span>
                    </div></label>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
      </body>