
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: space-between; /* Optional if you want to remove gaps */
}

.panel {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 3.5em 3em;
    overflow: scroll;
}

.content {
    background-color: #f3f3f3;
    position: relative;
}

.quiz {
    background-color: #f4e1e1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.answers {
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
    display: flex;
}

.card {
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em 0;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #969696;
    box-sizing: border-box;
    position: relative;
}
.answer {
    /* flex-grow: 1; */ /* Make each answer take an equal share of available space */
    line-height: 2em;
    width: 100%;
}
.answer md-radio {
    top: .45em;
}

.answer-label {
    padding-left: 1em;
    width: 100%;
}

play-story {
    position: absolute;
    top: -16px;
    right: -48px;
}

.story {
    padding: 2.5em;
    text-indent: 1.5em;
    line-height: 1.8em;
    font-size: large;
    font-family: sans-serif;
}